body {
    font-family: sans-serif;
    background-color:#78FFF1;
}
#navbar {
    width: 100%;
    background-color: #361999;
    overflow: hidden;
    position: fixed;
}
#navbar a{
    float: right;
    margin: auto;
    color: #FF6495;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 18px;
    transition:background .5s ease, color .5s ease;
}
#navbar a:hover {
    background-color: #78FFF1;
    color: #361999;
}
#navbar a:active {
    background-color: #78FFF1;
    color: #FF6495;
}
#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom left,#361999,#78FFF1);
    margin-bottom: 40px;
}
h1{
    font-size: 40px;
    color: #1D2228;

}
h2{
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    color: #78FFF1;
    font-style: italic;

}
div.projects{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.project-title {
    margin: auto;
    border: none;
    background-color: #361999;
    text-decoration: none;
    padding: 10px;
    width: 40px;
    transition: background 1s ease, padding 4s ease;
    cursor: pointer;
    font-size: 25px;
    margin: 40px;

}
.project-title:hover{
    padding: 20px;
    box-shadow: 0px 0px 20px #361999;
}
a:hover{
    text-decoration: none;
    color: #78FFF1;
}
a:visited{
    color: #78FFF1;
}
a {
    color: #78FFF1;
    text-decoration: none;
}
#contact-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom left,#361999,#78FFF1);
    margin-bottom: 40px;
}
@media screen and (max-width:600px){
    #navbar {position:fixed ;
    }
}